doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')
    
  body
    div.pure-g
      div.pure-u-1-1
        block content
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js") 